p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.box {
  border: 2px solid black;
  margin: 20px 0px;
  padding: 0px 10px 0px 25px;
}